<html>
<head>

</head>

<body>
    <H1>Gamusino's hunting web</H1>

    <H2>Hello XXXX, welcome to our web!</H2>

    <div>
        <div id="listHead">This is the list of Gamusinos you have captured so far:</div>
        <div id="gamusinos">

        </div>
    </div>
</body>

</html>